.menu_block{
    background-color: blue;
    padding: 20px 0;

    position: relative;
    display: flex;
    justify-content: right;

    background-image: url("/menu_s/BG.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.menu_itm{
width: 1055px;
height: 544px;

transition: 0.8s ease;
}

.menu_itm:hover{
    box-shadow: -4px 3px 3px 5px rgb(191, 19, 116);
    border-radius: 5px;
}


.menu_itm img{
    width: 100%;
    height: 100%;
}

.menu_itm img:hover{
    border-radius: 7px;
}


.txt_abs{
    position: absolute;
    top: 147px; left: 38px;

font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 90px;
color: #FFFFFF;

transition: 0.8s ease;
}


.txt_abs:hover{
text-shadow: 4px 2px 2px greenyellow;
cursor: pointer;
}

.txt_abs_2{
font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 28px;
color: #FFFFFF;

position: absolute;
top: 271px; left: 40px;
}

.bg{
    background-color: #100f10;
}


.mnu_bi{
    background-color: gray;
    padding: 290px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("/menu_s/bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
}



.txt_1{
    font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 128px;
text-align: center;
color: #FFFFFF;
padding: 0 0 0;

transition: 0.9s ease;
}



.txt_1:hover{
text-shadow: 4px 3px 2px greenyellow;
transform: scale(1.2);
}


.menu_bi_sg{
    background-color: #0F0F0F;
    padding: 20px 0;

    display: flex;
    flex-direction: column;
}


.txt_2{
    padding: 0 0 40px;
    font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 96px;
text-transform: uppercase;
color: #FFFFFF;
}


.menu_lm{
    /* background-color: deepskyblue; */
    display: flex;
    flex-direction: column;
}


.menu_top{
    background-color: #8B17E7;
    padding: 20px 0;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.menu_top2{
    background: #00FF2954;
    padding: 20px 0;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.txt_3{
font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 64px;
text-transform: uppercase;
color: #FFFFFF;
}

.ul_1{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;

    background-image: url("/menu_s/cffe.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.28);
}


.ul_2{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;

    background-image: url("/menu_s/ta.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.28);
}


.ul_3{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;

    background-image: url("/menu_s/frt_tea.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.28);
}

.ul_4{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;

    background-image: url("/menu_s/lemonade.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.28);
    padding: 50px 0;
}


.ul_5{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;

    background-image: url("/menu_s/milkshake.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
    background: rgba(0, 0, 0, 0.091);
}

.ul_6{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;

    background-image: url("/menu_s/pizza.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}

.ul_7{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;

    background-image: url("/menu_s/sandwich.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}

.ul_8{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;

    background-image: url("/menu_s/food.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}

.ul_9{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;

    background-image: url("/menu_s/swe.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}

.ul_10{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;

    background-image: url("/menu_s/coc.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}

.ul_11{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;

    background-image: url("/menu_s/clsc.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}

.ul_12{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;

    background-image: url("/menu_s/WHISKEY.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}

.ul_13{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;

    background-image: url("/menu_s/rum.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}

.ul_14{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;

    background-image: url("/menu_s/tequila.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}

.ul_15{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;

    background-image: url("/menu_s/vodka.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}

.ul_16{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;

    background-image: url("/menu_s/gin.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}

.ul_17{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;

    background-image: url("/menu_s/OTHER.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}

.ftr_ba{
     background-color: #161616;
}

.ul_18{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;

    background-image: url("/menu_s/beer.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}


.l_lft{
    display: flex;
    flex-direction: column;
}

.spp{
    font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 40px;
text-transform: uppercase;
color: #3FE23F;
}

.spp2{
    font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 40px;
text-transform: uppercase;
color: #D150FF;
}


.rr{
    display: flex;
    align-items: center;
    gap: 27px;
}



.ppp{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cf_bg{
    background-color: rgb(16, 15, 16);
}

.txt_4{
    font-family: Poppins;
font-weight: 700;
font-style: Bold;
font-size: 40px;
color: #FFFFFF;
}


.txt_5{
    font-family: Poppins;
font-weight: 700;
font-style: Bold;
font-size: 40px;
text-align: right;
text-transform: uppercase;
color: #FFFFFF;
}

.txt_6{
font-family: Poppins;
font-weight: 700;
font-style: Bold;
font-size: 40px;
text-transform: uppercase;
color: #FFFFFF;
}

.txt_7{
font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 20px;
color: #FFFFFF;
}

.txt_8{
padding: 140px 0 0;
font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 48px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}

.txt_8 span{
    color: #6EFF24;
}


.app_block{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

       background-color: #100F10;
       max-width: 100%;
}

.mnu_bac{
    background-color: #100F10;
    border-bottom: 3px solid #3D3D3D;

}

.app_itm{
    display: flex;
    align-items: center;
    gap: 200px;
}


.app_q{
    

    display: flex;
    flex-direction: column;
    align-items: center;
}

.txt_11{
    padding: 30px 0 13px;
    font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 24px;
text-transform: uppercase;
color: #49CE05;
}

.btmm{
    flex-direction: column;
    flex-grow: 1;
}

.txt_12{
    font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 24px;
text-transform: uppercase;
color: #FF24DC;
}

.app_top{
    width: 100px;
    height: 100px;
}

.app_top img{
    width: 100%;
    height: 100%;
}


.txt_9{
padding: 30px 0 13px;
font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 24px;
text-transform: uppercase;
color: #12B1C7;
}

.txt_10{
padding: 0 0 40px;
font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 32px;
text-transform: uppercase;
color: #FFFFFF;
}


.btn{
    border: none;
    width: 317px;
    height: 120px;
    background: none;
    margin-top: auto;
}

.btn img{
    width: 100%;
    height: 100%;
}

@media(max-width: 1200px){
    .container{
        width: 900px;
    }


    .menu_itm {
    width: 590px;
    height: 544px;
    transition: all .8s;
}


.txt_6 {
    font-size: 30px;
}


.txt_8 {
    padding: 140px 0 0;
    font-size: 25px;
}


.txt_8 {
    padding: 140px 0 0;
    font-size: 19px;
}


.btn {
    width: 260px;
    height: 120px;
}


.app_itm {
    gap: 40px;
    display: flex;
}

.txt_10 {
    padding: 0 0 40px;
    font-size: 27px;
}
}




@media(max-width: 992px){
    .container{
        width: 700px;
    }

    .txt_abs_2 {
    font-size: 25px;
    position: absolute;
    top: 271px;
    left: 40px;
}

.txt_3 {
    font-size: 60px;
}

.txt_6 {
    font-size: 23px;
}


}


@media(max-width: 768px){
    .container{
        width: 500px;
    }


    .menu_itm {
    width: 360px;
    height: 544px;
    transition: all .8s;
}


.txt_abs {
    font-size: 60px;
    top: 147px;
    left: 38px;
}


.txt_abs_2 {
    font-size: 18px;
    position: absolute;
    top: 271px;
    left: 40px;
}


.txt_2 {
    padding: 0 0 40px;
    font-size: 50px;
}

.txt_4 {
    font-size: 29px;
}


.txt_3 {
    font-size: 45px;
}


.txt_7 {
    font-size: 15px;
}


.txt_6 {
    font-size: 30px;
}


.app_itm {
    gap: 40px;
    display: flex;
    flex-direction: column;
}
}


@media (max-width: 576px) {
    .container{
        width: 100%;
    }
}


@media (max-width: 375px) {
    .container{
        width: 100%;
    }



    .txt_abs {
    font-size: 45px;
    top: 147px;
    left: 38px;
}


.txt_abs_2 {
    font-size: 13px;
    position: absolute;
    top: 271px;
    left: 40px;
}



.txt_2 {
    padding: 0 0 40px;
    font-size: 35px;
}


.txt_3 {
    font-size: 55px;
}

.spp {
    font-size: 24px;
}

.spp2 {
    font-size: 15px;
}


.txt_4 {
    font-size: 20px;
}


.txt_3 {
    font-size: 32px;
}

.txt_6 {
    font-size: 22px;
}

.txt_5 {
    font-size: 30px;
}


.txt_7 {
    font-size: 10px;
}
}